/* Estilos del Home */


body {
    
    background: #353839 !important;
    /*color: black !important;*/
}

.contenido {

    margin: 50px auto auto auto; 
    width: 80%;
    border: 3px solid black; 
    background-color: #EEEEF0;    
}

.contenido p {

    text-align: justify;
}

h1 {
    text-align: center;
    padding: 10px;

}

.logo {

    background: #EEEEF0;      
    padding: 10px;
    text-align: center;
}

.navbar {

    background: #193441;    
}

.nav-link, .navbar-brand {

    color: #FCFFF5 !important;
}


.myContainer  {

    padding: 20px;
    font-size: 18px;
    background-color: #EEEEF0;
    color: black;
    max-width: 100%;

}

.footer {

    background-color: #193441;
    padding: 10px;
    text-align: right;
    color: white;
}

.variableFija {
    
        border-color: red !important;
    }


#drop_zone {
        border: 2px dashed #bbb;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        padding: 25px;
        text-align: center;
        font: 20pt bold 'Vollkorn';
        color: #bbb;
    }

p {
    word-break: break-all
}

.A {
    color: red;
    background-color: black;
}

.C {
    color: blue;
    background-color: white;
}

.G {
    color: yellow;
    background-color: blue;
}

.T {
    color: violet;
}

label {
    color: white;
    background-color: black;
    width: 15px;
    text-align: center;
}