<div class="row" ng-controller="SequenceAlignmentController">
    <div class="col-sm-12">
        <h1>{{Home.Title}}</h1>


        <div id="drop_zone">Arrastre el archivo FASTA Aquí</div>

        <br />
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">Texto</span>
            </div>
            <textarea class="form-control" id="Text" ng-model="Text"></textarea>

        </div>
        <br />
        <button type="button" class="btn btn-warning" ng-click="ExtractSequences()">Extraer Secuencias</button>

        <p>{{SequenceOne}}</p>
        <p>{{SequenceTwo}}</p>


        <h2>Matriz de Puntuación</h2>
        <table class="table table-hover table-dark">
            <thead>
                <tr ng-repeat="filaHead in MatrizPuntaje | filter: { row: '0' }">
                    <th ng-repeat="column in filaHead.columns">{{column.value}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="filas in MatrizPuntaje | filter: { row: '!'+ '0' }">
                    <th ng-repeat="column in filas.columns">{{column.value}}</th>
                </tr>
            </tbody>

        </table>


        <br />
        <button type="button" ng-hide="bloqueoCalculo" class="btn btn-warning" ng-click="CalcularMatriz()">Alinear Secuencias</button>

        <br />
        <br />
        <div>
            <label ng-repeat="fila in SecuenciaAlineada | orderBy:'id'" class="{{fila.A}}">{{fila.A}}</label>
        </div>
        <div>
            <label ng-repeat="fila in SecuenciaAlineada | orderBy:'id'" class="{{fila.B}}">{{fila.B}}</label>
        </div>

        <button type="button" ng-hide="bloqueoProcedimiento" class="btn btn-info" ng-click="Procedimiento()">Ver Procedimiento</button>

        <br />
        <br />

        <div ng-hide="ocultarProcedimiento">


            <br />
            <p>{{SequenceOneNbr}}</p>
            <p>{{SequenceTwoNbr}}</p>

            <br />

            <table class="table table-hover table-dark">
                <thead>
                    <tr ng-repeat="filaHead in Matriz | filter: filterHead">
                        <th ng-repeat="column in filaHead.columns">{{column.value}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="filas in Matriz | filter: filterBody | orderBy:'row'">
                        <td ng-repeat="column in filas.columns">{{column.value}} </td>
                    </tr>
                </tbody>

            </table>
        </div>




    </div>
</div>